{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}logbook{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% tailwind_css %}
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="bg-gray-100 flex h-screen overflow-hidden font-sans">

    <aside style="width: 300px; min-width: 300px; background-color: #00459E;" class="h-full">
        <div class="flex flex-col h-full pt-6 pl-6 text-white justify-between">
            <div>
            <h1 class="text-2xl font-bold mb-12">logo</h1>
            <nav class="flex flex-col gap-2 pr-0">
                <a href="{% url 'registration:index' %}" class="flex items-center gap-4 pl-6 py-4 rounded-l-full font-semibold text-xl {% if request.resolver_match.url_name == 'index' %}bg-gray-100 text-[#0A305D]{% else %}hover:bg-gray-100 hover:text-[#0A305D]{% endif %}"><i data-lucide="layout-dashboard" class="w-6 h-6"></i>Dashboard</a>
                <a href="{% url 'registration:guestlist' %}" class="flex items-center gap-4 pl-6 py-4 rounded-l-full font-semibold text-xl {% if request.resolver_match.url_name == 'guestlist' %}bg-gray-100 text-[#00459E]{% else %}hover:bg-gray-100 hover:text-[#0A305D]{% endif %}"><i data-lucide="book-open" class="w-6 h-6"></i>Visitor Log</a>
                <a href="{% url 'registration:create_personnel' %}" class="flex items-center gap-4 pl-6 py-4 rounded-l-full font-semibold text-xl {% if request.resolver_match.url_name == 'create_personnel' %}bg-gray-100 text-[#00459E]{% else %}hover:bg-gray-100 hover:text-[#0A305D]{% endif %}"><i data-lucide="users" class="w-6 h-6"></i>Lobby Personnel</a>
            </nav>
            </div>
            <div class="flex items-center gap-4 py-5 pr-4">
                <img src="{% static 'images/default-profile.png' %}" class="w-10 h-10 rounded-full object-cover flex-shrink-0">
                <div class="flex-1 min-w-0">
                    <p class="font-semibold text-sm truncate">Admin</p>
                    <p class="text-xs text-white/70 truncate">@admin.admin</p>
                </div>
                <a href="{% url 'registration:logout' %}" class="flex-shrink-0 hover:text-white/70"><i data-lucide="log-out" class="w-5 h-5"></i></a>
            </div>
        </div>
    </aside>

    <main class="flex-1 overflow-y-auto px-12 py-8">
        {% block topbar %}{% endblock %}
        {% block content %}
        {% endblock %}
    </main>

<script>lucide.createIcons();</script>
</body>
</html>
